# autosaved things
*~
\#*\#
.~/
auto-save-list

# CVS stuff
CVS/
.cvsignore
/tramp

#mail
mail.el

share
var
elpa
url

#bbdb
site-lisp/bbdb/*
/working.el
/bookmarks
/ido.last
eshell/
/recentf
/work-config/*

*.pyc

elpa/
abbrev_defs
/smex-items
