# autosaved things
*~
\#*\#
.~/
auto-save-list

# CVS stuff
CVS/
.cvsignore
/tramp

#mail
mail.el

#auctex
site-lisp/auctex.el
site-lisp/tex-site.el
site-lisp/auctex/*

share
var

#org
site-lisp/org/*

#bbdb
site-lisp/bbdb/*
/working.el
