[include]
	path = .gitremotes
	path = .borgconfig
[submodule "a"]
	path = lib/a
	url = git@github.com:plexus/a.el.git
[submodule "add-node-modules-path"]
	path = lib/add-node-modules-path
	url = git@github.com:codesuki/add-node-modules-path.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auctex"]
	path = lib/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
	build-step = ./autogen.sh
	build-step = ./configure --without-texmf-dir
	build-step = make
	build-step = borg-update-autoloads
	build-step = borg-makeinfo
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "buttercup"]
	path = lib/buttercup
	url = git@github.com:jorgenschaefer/emacs-buttercup.git
[submodule "cider"]
	path = lib/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:magit/closql.git
[submodule "commenter"]
	path = lib/commenter
	url = git@github.com:yuutayamada/commenter.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-go"]
	path = lib/company-go
	url = git@github.com:emacsmirror/company-go.git
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "copy-as-format"]
	path = lib/copy-as-format
	url = git@github.com:sshaw/copy-as-format.git
[submodule "ctable"]
	path = lib/ctable
	url = git@github.com:kiwanami/emacs-ctable.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "deadgrep"]
	path = lib/deadgrep
	url = git@github.com:Wilfred/deadgrep.git
[submodule "deferred"]
	path = lib/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "direnv"]
	path = lib/direnv
	url = https://github.com/wbolster/emacs-direnv
[submodule "dna-mode"]
	path = lib/dna-mode
	url = git@github.com:jhgorrell/dna-mode-el.git
[submodule "dockerfile-mode"]
	path = lib/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
[submodule "ebuild-mode"]
	path = lib/ebuild-mode
	url = https://anongit.gentoo.org/git/proj/ebuild-mode.git
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = git@github.com:Fanael/edit-indirect.git
[submodule "eimp"]
	path = lib/eimp
	url = git@github.com:nicferrier/eimp.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = git@github.com:Wilfred/refs.el.git
[submodule "elpy"]
	path = lib/elpy
	url = git@github.com:jorgenschaefer/elpy.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:magit/emacsql.git
[submodule "epc"]
	path = lib/epc
	url = git@github.com:kiwanami/emacs-epc.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "epl"]
	path = lib/epl
	url = git@github.com:cask/epl.git
[submodule "ess"]
	path = lib/ess
	url = git@github.com:emacs-ess/ESS.git
[submodule "etexshow"]
	path = lib/etexshow
	url = git@github.com:pgundlach/etexshow.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "find-file-in-project"]
	path = lib/find-file-in-project
	url = git@github.com:technomancy/find-file-in-project.git
[submodule "forge"]
	path = lib/forge
	url = git@github.com:magit/forge.git
[submodule "geiser"]
	path = lib/geiser
	url = git@gitlab.com:jaor/geiser.git
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "go-eldoc"]
	path = lib/go-eldoc
	url = git@github.com:syohex/emacs-go-eldoc.git
[submodule "go-mode"]
	path = lib/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule "graphql"]
	path = lib/graphql
	url = git@github.com:vermiculus/graphql.el.git
[submodule "groovy-mode"]
	path = lib/groovy-mode
	url = git@github.com:Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "helpful"]
	path = lib/helpful
	url = git@github.com:Wilfred/helpful.git
[submodule "highlight-indentation"]
	path = lib/highlight-indentation
	url = git@github.com:antonj/Highlight-Indentation-for-Emacs.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
[submodule "htmlize"]
	path = lib/htmlize
	url = git@github.com:hniksic/emacs-htmlize.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "hyperspec"]
	path = lib/hyperspec
	url = git@github.com:emacsorphanage/hyperspec.git
[submodule "i3"]
	path = lib/i3
	url = git@github.com:vava/i3-emacs.git
[submodule "jinja2-mode"]
	path = lib/jinja2-mode
	url = git@github.com:paradoxxxzero/jinja2-mode.git
[submodule "js2-mode"]
	path = lib/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "json-mode"]
	path = lib/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "json-reformat"]
	path = lib/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "julia-mode"]
	path = lib/julia-mode
	url = git@github.com:JuliaEditorSupport/julia-emacs.git
[submodule "ledger-mode"]
	path = lib/ledger-mode
	url = git@github.com:ledger/ledger-mode.git
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "loop"]
	path = lib/loop
	url = git@github.com:Wilfred/loop.el.git
[submodule "lorem-ipsum"]
	path = lib/lorem-ipsum
	url = git@github.com:georgek/emacs-lorem-ipsum.git
[submodule "macrostep"]
	path = lib/macrostep
	url = git@github.com:joddie/macrostep.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "memoize"]
	path = lib/memoize
	url = git@github.com:skeeto/emacs-memoize.git
[submodule "mic-paren"]
	path = lib/mic-paren
	url = git@github.com:emacsattic/mic-paren.git
[submodule "nginx-mode"]
	path = lib/nginx-mode
	url = git@github.com:ajc/nginx-mode.git
[submodule "nim-mode"]
	path = lib/nim-mode
	url = git@github.com:nim-lang/nim-mode.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "org"]
	path = lib/org
	url = git@code.orgmode.org:bzg/org-mode.git
	build-nix-shell-packages = emacs git gnumake texinfo
	build-step = make
[submodule "org-bullets"]
	path = lib/org-bullets
	url = git@github.com:emacsorphanage/org-bullets.git
[submodule "org-presie"]
	path = lib/org-presie
	url = git@github.com:nicferrier/org-presie.git
[submodule "ox-reveal"]
	path = lib/ox-reveal
	url = git@github.com:yjwen/org-reveal.git
[submodule "ox-twbs"]
	path = lib/ox-twbs
	url = git@github.com:marsmining/ox-twbs.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "paredit"]
	path = lib/paredit
	url = https://mumble.net/~campbell/git/paredit.git
[submodule "paren-face"]
	path = lib/paren-face
	url = git@github.com:tarsius/paren-face.git
[submodule "parseclj"]
	path = lib/parseclj
	url = git@github.com:clojure-emacs/parseclj.git
[submodule "parseedn"]
	path = lib/parseedn
	url = git@github.com:clojure-emacs/parseedn.git
[submodule "pkg-info"]
	path = lib/pkg-info
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "prescient"]
	path = lib/prescient
	url = git@github.com:raxod502/prescient.el.git
[submodule "pylint"]
	path = lib/pylint
	url = git@github.com:emacsmirror/pylint.git
[submodule "pyvenv"]
	path = lib/pyvenv
	url = git@github.com:jorgenschaefer/pyvenv.git
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "rich-minority"]
	path = lib/rich-minority
	url = git@github.com:Malabarba/rich-minority.git
[submodule "rjsx-mode"]
	path = lib/rjsx-mode
	url = git@github.com:felipeochoa/rjsx-mode.git
[submodule "rust-mode"]
	path = lib/rust-mode
	url = git@github.com:rust-lang/rust-mode.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "sesman"]
	path = lib/sesman
	url = git@github.com:vspinu/sesman.git
[submodule "shut-up"]
	path = lib/shut-up
	url = git@github.com:cask/shut-up.git
[submodule "slime"]
	path = lib/slime
	url = git@github.com:georgek/slime.git
	build-step = make compile contrib-compile
[submodule "slime-company"]
	path = lib/slime-company
	url = git@github.com:anwyn/slime-company.git
[submodule "slime-complete-locals"]
	path = lib/slime-complete-locals
	url = git@github.com:joodie/slime-complete-locals.git
[submodule "smart-mode-line"]
	path = lib/smart-mode-line
	url = git@github.com:Malabarba/smart-mode-line.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "sqlite3"]
	path = lib/sqlite3
	url = git@github.com:pekingduck/emacs-sqlite3-api.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "typescript-mode"]
	path = lib/typescript-mode
	url = git@github.com:ananthakumaran/typescript.el.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = https://gitlab.com/tsc25/undo-tree
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "volatile-highlights"]
	path = lib/volatile-highlights
	url = git@github.com:k-talo/volatile-highlights.el.git
[submodule "web-mode"]
	path = lib/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "zenburn-theme"]
	path = lib/zenburn-theme
	url = git@github.com:georgek/zenburn-emacs.git
